// 主要顏色
$primary-color: #FC6627;
$primary-color-light: #FF9966;
$primary-color-dark: #FF6627;

// 次要顏色
$secondary-color: #52c41a;
$secondary-color-light: #73d13d;
$secondary-color-dark: #389e0d;

// 中性色調
$text-color: #000000d9;
$text-color-secondary: #00000073;
$disabled-color: #00000040;
$border-color: #d9d9d9;
$background-color: #f0f2f5;

// 功能色
$success-color: #52c41a;
$warning-color: #faad14;
$error-color: #f5222d;
$info-color: #1890ff;

// 深色模式顏色
$dark-background: #141414;
$dark-text-color: #ffffff;
$dark-border-color: #434343;

// 響應式斷點
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;